*,*:before,*:after{
margin:0;
padding: 0;
border: 0;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}

.wrapper{
width: 100%;
min-width: 1350px;
}
.container{
width: 100%;
min-width: 1350px;
}

/*HEADER*/
header{
position: relative;
z-index: 6;
overflow: hidden;
}
.header{
width:100%;
max-width: 1350px;
height: 90px;
margin-top: -6px;
display: flex;
justify-content: space-between;
position: fixed;
background-color: #fff;
border-bottom: 1px solid rgba(0,0,0,0.7);
position: relative;
z-index: 10
}
 .header.sticky {
position: fixed;
font-size: 20px;
height: 65px; 
width: 100%;
}

.header_title{
width: 20%;
margin-left: 30px;
}
.title_img.sticky{
width:160px;
height: 62px;
}

/*menu*/
.menu_list{
width: 35%;
display: flex;
justify-content: space-between;
align-items: center;
}
.menu_items{
transition: .5s ease;
}
.reserv{
display: none;
}
.menu_items a{
  font-weight: 700;
  letter-spacing: 2px;
text-decoration: none;
font-weight:700;
font-size: 14px;
text-transform: uppercase;
color:#586977;
}
.menu_items a:hover{
color: #cf3669;
}
/*shopbasket*/
.shopping{
width: 4%;
position: relative;

}
.shop.sticky{
width: 30px;
height: 20px;
margin-top: 25px;
}
.shopping img{
margin-top: 28px;
}

.shop_arrow:after{
content: "";
position: absolute;
top:42px;
left:32px;
width:0;
height:0;
border-top:4px solid #000;
border-right: 4px solid transparent;
border-left: 4px solid transparent;

}
/*Button_booking*/
.booking img{
margin-top: 20px;
}
.book.sticky{
transform:scale(0.9,0.9);
position: relative;
top: -8px;
left: 0;
}

.back_menu{
width: 100%;
height: 100px;
position: absolute;
top:-100%;
left:0;
}

/*Menu_burger*/
@media (max-device-width:667px){
.menu_burger{
width: 35px;
height: 90px;
position: absolute;
top: -8px;
right: 20px;
}

.burger_items{
width: 35px;
height: 3px;
position: relative;
top: 45px;
left: -30px;
z-index: 3;
}
.burger{
width: 65px;
height: 5px;
background-color: #7b8c98;
}
.burger.active{
display: none;
}
.burger_items:before{
content: "";
position: absolute;
width: 65px;
height: 5px;
background-color: #7b8c98;
top: -18px;
left: 0;
transition: all .5s ease;
}
.burger_items.active:before{
width: 65px;
top: -12px;
transform: rotate(-45deg);
background-color: #fff;
}
.burger_items:after{
content: "";
position: absolute;
width: 65px;
height: 5px;
background-color: #7b8c98;
top: 18px;
left: 0;
transition: all .5s ease;
}
.burger_items.active:after{
width: 65px;
transform: rotate(45deg);
top: -10px;
background-color: #fff;
}
.menu_list,.booking,.shopping{
display: none;
}
.back_menu.active{
width: 100%;
min-width: 1350px;
height:1500px;
background-color: #373844;
position: absolute;
top:-20%;
transition: all .8s ease;
}
.menu_list.active{
display:block;
position:relative;
width: 100%;
height: 100%;
margin: 0 auto;
z-index: 3;
text-align: center;
transition: all 3s ease;

}
.menu_items{
margin-top: 150px;
width:100%;
margin-left: -140px;
text-align: center;
}

.reserv{
display: block;
}
.menu_items a{
  font-family: 'Pompiere', cursive;
font-size: 35px;
color: #fff;
letter-spacing: 6px;
text-align: center;
}
.booking{
margin-top: 50px;
}
.booking.sticky{
margin-top:-10px;
}

.booking img{
width: 250px;
height: 60px;
}
.shop.sticky{
display: block;
position: relative;
top: 0;
left:-80px;
z-index: 3;
}
.shopping img{
width:55px;
height: 40px;
}
.shop_arrow:after{
left:60px;
}
.shop_arrow.active{
display: none;
}
}

/*MENU CONTAINER*/
.menu_container{
width: 100%;
min-width: 1100px;
padding-top: 100px;
height: 250px;
background: url(../images/food.jpg);
background-size: cover;
background-repeat: no-repeat;
position: relative;
}
.menu_container h1{
font-size: 58px;
text-align: center;
color: #fff;
}
@media(max-device-width:667px){
.menu_container{
height: 480px;
}
.menu_container h1{
font-size: 78px;
padding-top: 140px;
}
}

/*POPUP IMG*/
.popup{
position: absolute;
width: 100%;
height: 105%;
top: 0;
left: 0;
display: none;
text-align: center;
}
.popup_bg{
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.8);
z-index: 1;
}
.popup_img {
  position: fixed;
  width: 500px;
  height: 400px;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index:2;
  max-height:70%;
  max-width:70%;

}

/*FOOD MENU*/
.main_list{
width: 100%;
max-width: 1000px;
height:auto;
margin:0 auto;
padding-top:50px;
}
.main_list_title{
width: 720px;
height:150px;
margin: 0 auto;
}
.food_menu{
margin: 0 auto;
text-align: center;
}
.food_list{
display: flex;
justify-content: space-between;
margin-top: 30px;
}
.food_items:hover{
cursor: pointer;
  color:#cf3669;
}
 .food_items img{
 margin-left: 9px;	
 }
 .food_items1:hover{
  cursor: pointer;
  color:#cf3669;
 }
  .food-items:hover{
  cursor: pointer;
    color:#cf3669;
 }
 .food_items1 img{
 margin-left: 24px;	
 }
 .food_items h4{
 text-align: center;
 font-size: 18px;
 }
.food_items1 h4{
 font-size: 17px;
 }
.food-items h4{
 font-size: 18px;
 }

 @media(max-device-width:667px){
.popup_img {
width: 700px;
height: 600px;
}
.main_list{
max-width: 1200px;
margin-left: 150px;
}
.main_list_title{
margin-left: 60px;
}
.food_menu h1{
font-size: 45px;
margin-left: 240px;
padding-left: 55px;
}

.food_list{
width: 1000px;
height: 140px;
}
.food_items h4{
font-size: 36px;
}
.food_items1 h4{
font-size: 36px;
}
.food-items h4{
font-size: 36px;
}
.food_items img{
width: 50px;
height: 45px;
margin-left: 20px;
}
.food_items1{
width: 120px;
}
.food_items1 img{
width: 50px;
height: 45px;
margin-left: 50px;
margin-right: 80px;
}
.food-items img{
width: 50px;
height: 45px;
}
}
 /*MENU LIST*/
 .main_list_dishes{
 width: 1200px;
 height:auto;
position: relative;
top: 0;
left: 90px;

} 

.dishes_items{
width:430px;
height: 100px;
margin-left: 100px;
display: inline-block;
 border-bottom: 1px solid #eeeeee;
 }
 .dishes_items_inner{
  padding:10px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
 }
.dishes_title{
position: relative;
}

 .dishes_title img:hover{
display: none;
}
.image{
width: 20px;
height: 15px;
cursor: pointer;
}
 .dishes_title img{
 position: absolute;
 top: 2px;
 right:-80px;
 width: 25px;
 height: 20px;
 transition: 2s ease;
 cursor: pointer;
 }
 
 
 .dishes_title h5{
 font-size: 21px;
 }

 .dishes_title p{
  width: 330px;
 padding-top: 5px;
 padding-right: 120px;
 font-size: 16px;
 color:#5c6369;
 }

a{
text-decoration: none;
color: #adb2b7;
}
.special_last{
font-size: 22px;
font-weight: 700;
color:#fea100;
position: relative;
top: 25px;
}
.dollars{
font-size: 10px;
position: absolute;
top: 0;
left: -10px;
}


@media(max-device-width:667px){
.main_list_dishes{
padding-top: 100px;
width: 1300px;
margin-left: -50px;
}
.dishes_items{
width: 1200px;
height: 180px;
margin-left: 50px;
border-bottom: 1px solid rgba(0,0,0,0.5);
}
.dishes_items_inner{
padding: 0 0 0 0;
}
.dishes_title{
left: -50px;
}
.dishes_title h5{
font-size: 36px;
width: 700px;
padding-top: 50px;
}
.dishes_title p{
font-size: 30px;
width: 700px;
}
.dishes_title img{
width: 65px;
height: 50px;
top: 50px;
right: -270px;
}
.special_last{
font-size: 44px;
top: 70px;
}
.dollars{
font-size: 30px;
left: -20px;
top: 10px;
}
}
/*OPENING HOURS*/
.opening{
height: 150px;
width: 1170px;
margin:0 auto;
display: flex;
}
.opening_text{
font-size: 28px;
font-weight: 700;
display: flex;
justify-content: center;
align-items: center;
padding: 0 250px 0 100px;

}
.working_hours>p{
font-size:20px;
font-style: italic;
color: #5c6369;
padding-bottom: 10px;
}
.working_hours>h3{
font-size:25px;
font-weight: 700;
color: #fea100;
}
.working_hours{
width: 250px;
padding: 50px 20px 50px 20px;
}
@media(max-device-width:667px){
.opening_text{
font-size: 38px;
}
.working_hours h3{
font-size: 32px;
width: 300px;
}
.working_hours p{
font-size: 35px;
width: 300px;
}
.working_hours{
margin-left: -70px;
margin-right: 100px;
}
}

/*FOOTER*/
.footer{
width: 100%;
min-width: 1350px;
height: 360px;
background-color: #373844;
overflow: hidden;
}

.footer_container{
width: 1100px;
padding-top: 50px;
margin:0 auto;
display: flex;
justify-content: space-between;
}
.footer_container h1{
color: #fff;
font-size: 28px;
}
nav{
padding-top: 20px;
color: #adb2b7;
font-size: 20px;
font-weight: 300;
}
nav a{
color: #fff;
}
nav p{
padding-top: 10px;
}
nav p:hover{
color: #fea100;
}

.letter_title>p{
padding-top: 10px;
color: #adb2b7;
font-size: 20px;
}
.email_address{
padding-top:20px;
display: flex;
align-items: center;
}
.email{
display: flex;
width: 300px;
}
.email input{
width:280px;
height: 30px;
border:1px solid #52535e;
background-color: #373844;
color: #fff;
outline: none;
}
.email_button{
width: 130px;
height: 50px;
border-radius: 5px;
background-color: #fea100;
color: #fff;
text-transform: uppercase;
display: flex;
justify-content: center;
align-items: center;
transition: all 1s ease;
}
.email_button:hover{
transform: translate3d(0,3px,-3px) scale(0.95, 0.95);
box-shadow: 4px 6px 6px rgba(0,0,0,0.5);
}
.sociaty{
display: flex;
}
.sociaty_items{
padding-top: 30px;
padding-left: 10px;
}
.sociaty_link{
width: 55px;
height: 50px;
border-radius:5px;
transition: all 1s ease;
}
.sociaty_items img:hover{
box-shadow: 4px 6px 6px rgba(0,0,0,0.5);
}
.apps_items{
padding-top: 20px;
}
.apps_items img{
border-radius: 12px;
}
@media(max-device-width:667px){
.footer{
height: auto;
}
.footer_container{
flex-direction: column;
}
.navigation {
display: none;
}
.letter h1{
font-size: 35px;
text-align: center;
}
.letter_title{
padding-top: 50px;
}
.letter_title>p{
font-size: 30px;
color: #fff;
text-align: center;
letter-spacing: 2.4px;
}
.email_address{
margin-top: 40px;
margin-left: 250px;
}
.email_address input{
width: 350px;
height: 80px;
font-size: 25px;
}
.email_button{
margin-left: 80px;
width: 180px;
height: 60px;
font-size: 25px;
}

.sociaty_items{
display: inline-block;
padding-top: 50px;
margin-left: 50px;
}
.sociaty{
margin-left: 270px;
}
.sociaty_link{
width: 100px;
height: 100px;
}
.apps{
margin: 0 auto;
text-align: center;
margin-top: 100px;
margin-bottom: 50px;
}
.apps h1{
font-size: 35px;
}
.apps_items{
display: inline-block;
}

}